<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tienda.a_shop">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".views.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".views.MyActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".views.AgregarCategoriaActivity"
            android:label="@string/title_activity_agregar_producto" />
        <activity
            android:name=".views.ListaItemsProductosActivity"
            android:label="@string/title_activity_carrito_de_venta" />
        <activity
            android:name=".views.MesActivity"
            android:label="@string/title_activity_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.EditarProductoActivity"
            android:label="Editar Producto" />
        <activity
            android:name=".views.HistorialVentasActivity"
            android:label="@string/title_activity_historial_ventas" />
        <activity
            android:name=".views.AgregarItemGastoActivity"
            android:label="@string/title_activity_agregar_item_gasto" />
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        -->
    </application>

</manifest>